<h1>Edit Blog Post</h1>

<%= form_for @blog_post do |f| %>
  <%= render 'form_fields', form: f %>
  <div>
    <%= f.submit "Update Blog Post" %>
    <%= link_to 'Cancel', blog_posts_path %>
  </div>
<% end %>